body {
  margin: 0;
  padding: 0;
  background-color: #ede9e2;
  color: #333338;
  font-family: Arial, sans-serif;
}

.app-container {
  border: 1px solid red;
}

.page-content {
  padding: 2px;
  padding-top: 50px;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 36px;
  width: 100%;
  z-index: 101;
  background-color: #fff;
  border-bottom: 2px solid #889A70;
}

.navbar-left.desktop,
.desktop-pages,
.navbar-right,
.navbar-left.desktop,
.navbar-center.desktop,
.navbar-right.desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid red;
}

.navbar-brand {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.mobile-left-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 120px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  display: none;
  overflow: hidden;
}

.panel.active {
  display: block;
}

.nav-item {
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.navbar-link {
  margin-left: 10px;
  text-decoration: none;
  color: red;
}

.hero-section {
  border: 20px groove  rgb(116, 56, 56);
  padding: 0px 0;
  text-align: center;
  background-image: url(../public/app_background.png);
  background-size: 105%;
}

.hero-content {
  max-width: 800px;
  padding-bottom: 10px;
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4px;
}

.card {
  border: 1px solid  #fff;
  background-color: #fcfcfc;
  padding: 20px;
  text-align: center;
  flex: 0 1 calc(20% - 8px); /* 20% width with some margin */
  margin: 4px;
}

.footer {
  background-color: #f0cfcf;
  background: transparent;
  color: rgb(19, 2, 2);
  font-weight: bolder;
  text-align: center;
  bottom: 0;
  width: 100%;
}