body {
  margin: 0;
  padding: 0;
  background-color: #ede9e2;
  color: #333338;
  font-family: Arial, sans-serif;
}

.app-container {
  border: 1px solid black;
}

.page-content {
  padding: 2px;
  padding-top: 50px;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 36px;
  width: 100%;
  z-index: 101;
  background-color: #fff;
  border-bottom: 2px solid #889A70;
}

.navbar-left.desktop,
.desktop-pages,
.navbar-right,
.navbar-left.desktop,
.navbar-center.desktop,
.navbar-right.desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.accordion-wrapper {
  position: fixed;
  top: 34px;
  left: -4px;
  width: 100%;
  z-index: 999;
}

.mobile-left-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 120px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  display: none;
  overflow: hidden;
}

.panel.active {
  display: block;
}

.nav-item {
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-item:hover {
  background-color: #f0f0f0;
}

.dropdown-wrapper {
  position: fixed;
  top: 34px;
  left: 0;
  width: 100%;
  z-index: 999;
  border: 1px solid #000;
  background: #fff;
}

.icon {
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 1px solid #000;
  padding: 2px;
  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
  }
}

.default-user-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.logo-icon,
.shopping-cart-icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin: 2px;
  @media (max-width: 768px) {
    border-radius: 4px;
  }
}

.icon-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero-section {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero-content {
  max-width: 800px;
  padding-bottom: 10px;
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 20px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  flex: 0 1 30%;
  width: 30%;
  border-radius: 5px;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    flex: 0 1 40%;
    width: 40%;
    margin-bottom: 4px;
  }
}

.footer {
  border: 1px solid black;
  background-color: #eee5dd;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 4%;

}

.search-bar {
  padding-left: 4px;
  min-width: 156px;
}

.search-input {
  border-radius: 20px;
  border: 1px solid #000;
  height: 24px;
  width: 100%;
}